automation/basic_blueprint.json
{
    "name": "basic (V)",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2648463,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1926,
                    "y": -594
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Tally"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "eventId",
                        "type": "text"
                    },
                    {
                        "name": "eventType",
                        "type": "text"
                    },
                    {
                        "name": "createdAt",
                        "type": "date"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "responseId",
                                "type": "text"
                            },
                            {
                                "name": "submissionId",
                                "type": "text"
                            },
                            {
                                "name": "respondentId",
                                "type": "text"
                            },
                            {
                                "name": "formId",
                                "type": "text"
                            },
                            {
                                "name": "formName",
                                "type": "text"
                            },
                            {
                                "name": "createdAt",
                                "type": "date"
                            },
                            {
                                "name": "fields",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text"
                                        },
                                        {
                                            "name": "label",
                                            "type": "text"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "value",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array"
                                        },
                                        {
                                            "name": "options",
                                            "spec": {
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "text",
                                                        "type": "text"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            "type": "array"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{2.data.fields[5].options}}"
            },
            "metadata": {
                "designer": {
                    "x": -1643,
                    "y": -586
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "styleDeLogo",
                "scope": "roundtrip",
                "value": "{{if(contains(2.data.fields[5].value; 12.id); 12.text; \"\")}}"
            },
            "metadata": {
                "designer": {
                    "x": -1320,
                    "y": -575
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "styleDeLogo",
                        "type": "any",
                        "label": "styleDeLogo"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 11,
                "rowSeparator": "other",
                "otherRowSeparator": ","
            },
            "mapper": {
                "value": "{{11.styleDeLogo}}"
            },
            "metadata": {
                "designer": {
                    "x": -932,
                    "y": -571
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Outils - Définir une variable [11]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Autre"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 17,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "FilterEmail",
                "conditions": [
                    [
                        {
                            "a": "{{15.text}}",
                            "b": "",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "styleLogoFinal",
                "scope": "roundtrip",
                "value": "{{15.text}}"
            },
            "metadata": {
                "designer": {
                    "x": -623,
                    "y": -584
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "styleLogoFinal",
                        "type": "any",
                        "label": "styleLogoFinal"
                    }
                ]
            }
        },
        {
            "id": 53,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -323,
                    "y": -584
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 43,
                            "module": "dropbox:createFolder",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 6915920
                            },
                            "mapper": {
                                "name": "{{2.data.fields[1].value}} - Logo - Fluvera",
                                "path": "/Fluvera",
                                "autorename": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 101,
                                    "y": -580
                                },
                                "restore": {
                                    "expect": {
                                        "path": {
                                            "mode": "chose"
                                        },
                                        "autorename": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (contact@fluvera.co)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Folder Name",
                                        "required": true
                                    },
                                    {
                                        "name": "path",
                                        "type": "folder",
                                        "label": "Folder"
                                    },
                                    {
                                        "name": "autorename",
                                        "type": "boolean",
                                        "label": "Auto rename",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 46,
                            "module": "dropbox:createShareLink",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 6915920
                            },
                            "mapper": {
                                "path": "{{43.path_display}}",
                                "select": "file",
                                "select_1": "folder",
                                "settings": {
                                    "requested_visibility": "public"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 389,
                                    "y": -574
                                },
                                "restore": {
                                    "expect": {
                                        "path": {
                                            "mode": "edit"
                                        },
                                        "select": {
                                            "label": "Select a file/folder"
                                        },
                                        "select_1": {
                                            "label": "Folder"
                                        },
                                        "settings": {
                                            "nested": {
                                                "access": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "allow_download": {
                                                    "mode": "chose"
                                                },
                                                "require_password": {
                                                    "mode": "chose"
                                                },
                                                "requested_visibility": {
                                                    "mode": "chose",
                                                    "label": "Public"
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (contact@fluvera.co)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Way of selecting files",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "file"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "settings",
                                        "spec": [
                                            {
                                                "name": "access",
                                                "type": "select",
                                                "label": "Link's Access Level",
                                                "validate": {
                                                    "enum": [
                                                        "viewer",
                                                        "editor",
                                                        "max"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "expires",
                                                "time": true,
                                                "type": "date",
                                                "label": "Link's Expiration Date"
                                            },
                                            {
                                                "name": "require_password",
                                                "type": "boolean",
                                                "label": "Require Password"
                                            },
                                            {
                                                "name": "link_password",
                                                "type": "text",
                                                "label": "Link's Password"
                                            },
                                            {
                                                "name": "allow_download",
                                                "type": "boolean",
                                                "label": "Allow Download"
                                            },
                                            {
                                                "name": "requested_visibility",
                                                "type": "select",
                                                "label": "Requested Visibility (Deprecated)",
                                                "validate": {
                                                    "enum": [
                                                        "public",
                                                        "team_only",
                                                        "password"
                                                    ]
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Settings"
                                    },
                                    {
                                        "name": "select_1",
                                        "type": "select",
                                        "label": "Select",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "path",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 47,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "cheminDossier",
                                "scope": "roundtrip",
                                "value": "{{46.url}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 662,
                                    "y": -578
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "cheminDossier",
                                        "type": "any",
                                        "label": "cheminDossier"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 40,
                            "module": "builtin:BasicRepeater",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "step": "1",
                                "start": "1",
                                "repeats": "3"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 933,
                                    "y": -579
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "start",
                                        "type": "number",
                                        "label": "Initial value",
                                        "required": true
                                    },
                                    {
                                        "name": "repeats",
                                        "type": "number",
                                        "label": "Repeats",
                                        "required": true,
                                        "validate": {
                                            "max": 10000,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "step",
                                        "type": "number",
                                        "label": "Step",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 48,
                            "module": "dropbox:createFolder",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 6915920
                            },
                            "mapper": {
                                "name": "Proposition logo n°{{40.i}}",
                                "path": "{{43.path_display}}",
                                "autorename": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1246,
                                    "y": -577
                                },
                                "restore": {
                                    "expect": {
                                        "path": {
                                            "mode": "edit"
                                        },
                                        "autorename": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (contact@fluvera.co)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Folder Name",
                                        "required": true
                                    },
                                    {
                                        "name": "path",
                                        "type": "folder",
                                        "label": "Folder"
                                    },
                                    {
                                        "name": "autorename",
                                        "type": "boolean",
                                        "label": "Auto rename",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 50,
                            "module": "dropbox:createShareLink",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 6915920
                            },
                            "mapper": {
                                "path": "{{43.path_display}}",
                                "select": "file",
                                "select_1": "folder",
                                "settings": {
                                    "requested_visibility": "public"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1471,
                                    "y": -577
                                },
                                "restore": {
                                    "expect": {
                                        "path": {
                                            "mode": "edit"
                                        },
                                        "select": {
                                            "label": "Select a file/folder"
                                        },
                                        "select_1": {
                                            "label": "Folder"
                                        },
                                        "settings": {
                                            "nested": {
                                                "access": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "allow_download": {
                                                    "mode": "chose"
                                                },
                                                "require_password": {
                                                    "mode": "chose"
                                                },
                                                "requested_visibility": {
                                                    "mode": "chose",
                                                    "label": "Public"
                                                }
                                            }
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dropbox"
                                            },
                                            "label": "My Dropbox connection (contact@fluvera.co)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dropbox",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Way of selecting files",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "file"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "settings",
                                        "spec": [
                                            {
                                                "name": "access",
                                                "type": "select",
                                                "label": "Link's Access Level",
                                                "validate": {
                                                    "enum": [
                                                        "viewer",
                                                        "editor",
                                                        "max"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "expires",
                                                "time": true,
                                                "type": "date",
                                                "label": "Link's Expiration Date"
                                            },
                                            {
                                                "name": "require_password",
                                                "type": "boolean",
                                                "label": "Require Password"
                                            },
                                            {
                                                "name": "link_password",
                                                "type": "text",
                                                "label": "Link's Password"
                                            },
                                            {
                                                "name": "allow_download",
                                                "type": "boolean",
                                                "label": "Allow Download"
                                            },
                                            {
                                                "name": "requested_visibility",
                                                "type": "select",
                                                "label": "Requested Visibility (Deprecated)",
                                                "validate": {
                                                    "enum": [
                                                        "public",
                                                        "team_only",
                                                        "password"
                                                    ]
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Settings"
                                    },
                                    {
                                        "name": "select_1",
                                        "type": "select",
                                        "label": "Select",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "path",
                                        "type": "folder",
                                        "label": "Folder",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 51,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "cheminDossierIndividuel",
                                "scope": "roundtrip",
                                "value": "{{50.url}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1692,
                                    "y": -578
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "cheminDossierIndividuel",
                                        "type": "any",
                                        "label": "cheminDossierIndividuel"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 31,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://api.openai.com/v1/chat/completionsd",
                                "serializeUrl": false,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "clé retirée pour partage GitHub"
                                    },
                                    {
                                        "name": "Content-Type",
                                        "value": "application/json"
                                    }
                                ],
                                "qs": [],
                                "bodyType": "raw",
                                "parseResponse": false,
                                "authUser": "",
                                "authPass": "",
                                "timeout": "",
                                "shareCookies": false,
                                "ca": "",
                                "rejectUnauthorized": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "gzip": true,
                                "useMtls": false,
                                "contentType": "application/json",
                                "data": "{\n  \"model\": \"gpt-4o\",\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un expert en branding et en design de logos. Tu crées des prompts optimisés pour générer des logos professionnels avec DALL·E 3. Ta mission est de transformer un brief client en un prompt d’image cohérent, inspirant et exploitable par une IA de génération d’images.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Voici le brief du client pour la création d’un logo :\\n\\n🏢 Nom de l’entreprise : {{2.data.fields[1].value}}\\n💬 Slogan : {{2.data.fields[2].value}}\\n💼 Domaine : {{2.data.fields[3].value}}\\n👥 Cibles : {{2.data.fields[4].value}}\\n🎨 Style de logo : {{17.styleLogoFinal}}\\n🧘‍♂️ Style autre (préciser) : {{2.data.fields[6].value}}\\n🌈 Couleurs à privilégier : {{2.data.fields[9].value}}\\n💡 Inspirations : {{2.data.fields[10].value}}\\n📝 Autres commentaires : {{2.data.fields[11].value}}\\n\\nMerci de créer un prompt clair, professionnel, riche en détails visuels (forme, couleurs, ambiance) et parfaitement structuré pour une IA génératrice d’image comme DALL·E 3. N’inclus pas le brief, uniquement la description du logo à générer.\"\n    }\n  ]\n}",
                                "followAllRedirects": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1936,
                                    "y": -584
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 33,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": 245664
                            },
                            "mapper": {
                                "json": "{{31.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2383,
                                    "y": -586
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code",
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": null,
                                                    "default": null,
                                                    "required": false,
                                                    "multiline": false
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": null,
                                                    "default": null,
                                                    "required": false,
                                                    "multiline": false
                                                }
                                            ],
                                            "type": "collection",
                                            "required": false
                                        },
                                        "type": "array",
                                        "label": "Headers",
                                        "required": false
                                    },
                                    {
                                        "name": "cookieHeaders",
                                        "spec": {
                                            "type": "text",
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        "type": "array",
                                        "label": "Cookie Headers",
                                        "required": false
                                    },
                                    {
                                        "name": "data",
                                        "type": "text",
                                        "label": "Data",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "name": "fileSize",
                                        "type": "number",
                                        "label": "File Size",
                                        "default": null,
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 36,
                            "module": "json:TransformToJSON",
                            "version": 1,
                            "parameters": {
                                "space": ""
                            },
                            "mapper": {
                                "object": "{{33.choices[1].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2595,
                                    "y": -581
                                },
                                "restore": {
                                    "parameters": {
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "object",
                                        "type": "any",
                                        "label": "Object"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 38,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4535743
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{2.data.fields[12].value}}",
                                    "1": "{{33.choices[1].message.content}}",
                                    "2": "{{51.cheminDossierIndividuel}}",
                                    "3": "{{2.data.fields[1].value}}",
                                    "4": "{{2.data.fields[2].value}}",
                                    "5": "{{2.data.fields[3].value}}",
                                    "6": "{{2.data.fields[4].value}}",
                                    "7": "{{17.styleLogoFinal}}",
                                    "8": "{{2.data.fields[6].value}}",
                                    "9": "{{2.data.fields[9].value}}",
                                    "10": "{{2.data.fields[10].value}}",
                                    "11": "{{2.data.fields[11].value}}",
                                    "12": "{{47.cheminDossier}}"
                                },
                                "sheetId": "Client",
                                "spreadsheetId": "/1d9dyaiw3kNpj6otLRnQTzwDD_N6LcAOi/1XonO34q5JxYxMv_y4xZxA7ZIKmtl6Qcyp639u8pV6Q4",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2931,
                                    "y": -581
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Client"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Fluvera",
                                                "Fluvera"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Mail (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Prompt (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Logo (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Nom (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Slogan (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Domaine (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Clients cibles (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Style de logo souhaité (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "Style autre(précisez) (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "Couleurs à privilégier (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Inspirations logo (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Tout autres commentaire utile (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (sirfou2002@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Mail (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Prompt (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Logo (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Nom (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Slogan (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Domaine (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Clients cibles (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Style de logo souhaité (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "Style autre(précisez) (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "Couleurs à privilégier (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Inspirations logo (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Tout autres commentaire utile (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6830907,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{2.data.fields[12].value}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "<p>Bonjour,</p>\n<p>Merci d’avoir rempli le formulaire pour la création de votre logo. Voici le récapitulatif des informations que vous nous avez communiquées :</p>\n<hr>\n<p>🏢 <strong>Nom de l’entreprise :</strong> {{2.data.fields[1].value}}</p>\n<p>💬 <strong>Slogan à inclure :</strong> {{2.data.fields[2].value}}</p>\n<p>💼 <strong>Domaine d’activité :</strong> {{2.data.fields[3].value}}</p>\n<p>👥 <strong>Clients cibles :</strong> {{2.data.fields[4].value}}</p>\n<p>🎨 <strong>Style de logo souhaité :</strong> {{17.styleLogoFinal}}</p>\n<p>🧘‍♂️ <strong>Ressenti à transmettre :</strong> {{17.ressentiFinal}}</p>\n<p>🌈 <strong>Couleurs à privilégier :</strong> {{2.data.fields[9].value}}</p>\n<p>💡 <strong>Inspirations ou exemples de logos :</strong> {{2.data.fields[10].value}}</p>\n<p>📝 <strong>Autres commentaires :</strong> {{2.data.fields[11].value}}</p>\n<hr>\n<p>📩 <strong>Email de contact :</strong> {{2.data.fields[12].value}}</p>\n<p style=\"margin-top: 20px;\">Notre équipe va maintenant se mettre au travail pour vous proposer un logo fidèle à votre brief. Vous recevrez une première proposition dans un délai maximum de 48h.</p>\n<p>Si vous constatez une erreur ou souhaitez modifier une information, n’hésitez pas à nous contacter à l’adresse suivante : <a href=\"mailto:contact@fluvera.co\">contact@fluvera.co</a></p>\n<p>Encore merci pour votre confiance,<br><strong>L’équipe Fluvera</strong></p>\n",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Merci, votre brief a bien été transmis à notre équipe",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 115,
                                    "y": -838
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "smtp"
                                            },
                                            "label": "Contact Fluvera (SMTP contact@fluvera.co)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "messageId",
                                        "type": "text",
                                        "label": "Message ID"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}
